.widget_loading {
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.widget_loading_visible__none {
  display: none;
}
.widget_loading_img__div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: -webkit-translate(-50%, -50%); /* centre the image */
  transform: -moz-translate(-50%, -50%); /* centre the image */
  transform: -ms-translate(-50%, -50%); /* centre the image */
  transform: -o-translate(-50%, -50%); /* centre the image */
  transform: translate(-50%, -50%); /* centre the image */
}
.widget_loading_content {

}
.widget_loading_img {
  height: 100%;
}
@media screen and (max-width: 992px) {
  .widget_loading_content {

  }
  .widget_loading_img {
    height: 70%;
  }
}
@media screen and (max-width: 600px) {
  .widget_loading_content {

  }
  .widget_loading_img {
    height: 40%;
  }
}
